[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
lint = "bash -c 'autopep8 src -riv --max-line-length=79 && flake8 src && pylint src --disable=C0301'"

[packages]
requests = "*"
mip = "*"

[dev-packages]
flake8 = "*"
autopep8 = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3"
